<%- include layouts/header.ejs %>

    <div class="row">
        <div class="col-12">
        <% if( data ) { %>
            <div class="row">
                <% for( var i = 0; i < data.length; i++ ) { %>
                <div class="col-4"> 
                    <img class="grid-image" src="<%= data[i].imagepath[0] %>" />
                    <h4><%= data[i].imagetitle %></h4>
                    <p><%= data[i].imagedescription %></p>
                </div>
                <% if( ( ( i > 0) && ( i+1 ) % 3 == 0 ) ) { %>
                </div><div class="row">
                <% }  %>
                <% } %>
            </div>
        <% } %>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <% if (pages > 0) { %>
                <ul class="pagination text-center">
                    <% if (current == 1) { %>
                        <li class="page-item disabled"><a class="page-link">First</a></li>
                    <% } else { %>
                        <li class="page-item"><a class="page-link" href="/1">First</a></li>
                    <% } %>
                    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                    <% if (i !== 1) { %>
                        <li class="page-item disabled"><a class="page-link">...</a></li>
                    <% } %>
                    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                        <% if (i == current) { %>
                            <li class="page-item active"><a class="page-link"><%= i %></a></li>
                        <% } else { %>
                            <li class="page-item"><a class="page-link" href="/<%= i %>"><%= i %></a></li>
                        <% } %>
                        <% if (i == Number(current) + 4 && i < pages) { %>
                            <li class="page-item disabled"><a class="page-link">...</a></li>
                        <% } %>
                    <% } %>
                    <% if (current == pages) { %>
                        <li class="page-item disabled"><a class="page-link">Last</a></li>
                    <% } else { %>
                        <li class="page-item"><a class="page-link" href="/<%= pages %>">Last</a></li>
                    <% } %>
                </ul>
            <% } %>
        </div>
    </div>

<%- include layouts/footer.ejs %>